body {
  font-family: 'Roboto', arial, sans-serif;
}

#container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  padding-bottom: 100px;
  width: 90%;
}

.narrative {
  font-family: "PT Serif", "Times New Roman", serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.narrative > h2 {
  padding-top: 20px;
  color: #222;
  font-size: 44px;
  font-weight: lighter;
}

.narrative > h3 {
  max-width: 40%;
  padding-bottom: 50px;
  text-align: center;
  line-height: 1.8;
  color: #888;
  font-size: 22px;
  font-weight: lighter;
  font-style: italic;
  padding: 30px;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc;
  border-left: none;
  border-right: none;
}

.narrative > h4 {
  max-width: 80%;
  text-align: center;
  line-height: 1.8;
  color: #222;
  font-size: 20px;
  font-weight: bold;
  padding: 25px;
}

.narrative > p {
  max-width: 60%;
  padding-bottom: 5px;
  color: #222;
  font-size: 20px;
  line-height: 1.8;
  text-indent: 30px;
  margin: 5px;
}

.narrative > ol {
  font-size: 22px;
  line-height: 2;
  font-weight: bolder;
  color: #333;
}

.instructions {
  padding-left: 20px;
  color: #999;
  font-style: italic;
}

.slider {
  width: 30%;
}
#menu {
  padding-left: 40px;
}
.menu-button {
  text-align: center;
  font-size: 28px;
  font-weight: normal;
  color: #666;
  background-color: #eee;
  float: left;
  width: auto;
  margin: 12px;
  padding: 6px;
  border-radius: 8px;
  border: solid;
  border-width: 1px;
  border-color: #bbb;
  box-shadow: 0px 1px 2px #ddd;
}
.menu-button:hover {
  color: #444;
  border-color: #999;
  background-color: #eee;
  cursor: pointer;
}
.menu-button.focus {
  color: #000;
  border-color: #555;
  background-color: #fff;
}

#lineGraphContainer {
  float: left;
}
#lineGraph {
  float: left;
}
.selectorList {
  float: left;
}
.checkboxContainer {
  margin: 2px;
}
.allLibrariesSelector {
  margin-bottom: 10px;
}
svg {
  margin: 0.5em;
}
.plot {
  background-color: #eee;
  border-radius: 4px;
}
.mean-line {
  fill: #444;
}

.label {
  font-family: 'Roboto', arial, sans-serif;;
  font-size: 10px;
  dominant-baseline: middle;
  fill: #000;
  opacity: 0.5;
}
.classLabel {
  font-size: 25px;
}

.dateLabel {
  font-style: italic;
}

.plusminus {
  font-size: 14px;
  font-family: monospace;
}

.cell {
  fill: #ccc;
  stroke: #fff;
  stroke-width: 0.5;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.axis text {
  font: 10px sans-serif;
}
.line {
  fill-opacity: 0;
  stroke-width: 1;
  stroke: #602391;
  stroke-opacity: 0.4;
}
.regline {
  fill-opacity: 0;
  stroke-width: 2;
  stroke: red;
  stroke-opacity: 0.6;
  stroke-dasharray: 10,10;
}
.caption {
  text-align: center;
  width: 950px;
  font-style: italic;
  float: left;
}
